@use '../foundation/variable/color' as *;
@use '../foundation/variable/font' as *;
@use '../foundation/mixin/phone-link' as *;

body {
  @include set-disable-phone-link-in-sp();

  color: $colorText;
  font-family: $fontFamilyJp;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
