doctype html
block vars
  include ./_variables
html(lang="ja")
  head
    meta(charset='UTF-8')
    block title
    block meta
      meta(name="viewport" content=viewport)
      meta(name='description' content=description)
      meta(name='keywords' content=keywords)
      include ./_meta_fb
      include ./_meta_tw
    block link
      include ./_favicon    
  body
    block body
    block script