//- project
- var env = process.env.NODE_ENV || 'development'; // 'development' | 'production'
- var path = './';
- var viewport = 'width=device-width,initial-scale=1';
//- meta
- var title = 'Girl & Sakura Animation | PixiJS x Spine';
- var description = 'Spine で作成したアニメーションを PixiJS で再生しています';
- var keywords = 'PixiJS, Spine, Animation';
//- og
- var ogSiteName = title;
- var ogType = 'website';
- var ogImage = '/assets/images/ogp_image.jpg';
- var ogUrl = '';
- var ogDescription = description;
- var ogTitle = title;
- var ogLocale = 'ja_JP';