@charset "UTF-8";

/* --------------------
      foundation
-------------------- */
// variable
@use './foundation/variable/color' as *;
@use './foundation/variable/font' as *;
@use './foundation/variable/size' as *;
// animation
@use './foundation/animation/rotate' as *;
// function
@use './foundation/function/half' as *;
@use './foundation/function/rem' as *;
@use './foundation/function/vw' as *;
// mixin
@use './foundation/mixin/media-query-with-tab' as *;
// @use './foundation/mixin/media-query' as *;
@use './foundation/mixin/browsers' as *;
// @use './foundation/mixin/hover' as *;

/* --------------------
      base
-------------------- */
@use './base/reset' as *;
@use './base/base' as *;

/* --------------------
      layout
-------------------- */
@use './layout/wrapper' as *;
@use './layout/header' as *;
@use './layout/main' as *;
@use './layout/footer' as *;

/* --------------------
      module
-------------------- */

// element
@use './module/element/btn' as *;
@use './module/element/banner' as *;

// block
@use './module/block/card' as *;
@use './module/block/media' as *;
@use './module/block/pager' as *;
@use './module/block/horizBtnList' as *;
@use './module/block/headerCont' as *;
@use './module/block/footerCont' as *;
@use './module/block/fixBanner' as *;

/* --------------------
      unique
-------------------- */

/* --------------------
      program
-------------------- */
@use './program/fixBanner' as *;

/* --------------------
      helper
-------------------- */
@use './helper/clearfix' as *;
@use './helper/margin' as *;
@use './helper/padding' as *;

.pixi {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
